<div>
    <h3 >Reactive Form Example</h3>
    <form [formGroup]="userForm" >
        <button (click)="reset()">ADD User</button>
        <!-- <h4 class="mt-4">Personal Details</h4> -->
        <br>
        <br>
            <div>
                <label for="fName">First Name</label>&nbsp;
                <input type="text" name="fName" id="id1" formControlName="firstName">
                <div *ngIf="firstName.touched && firstName.invalid">
                    <div *ngIf="firstName.errors?.['required']">
                        firstName is required field
                    </div>
                    <!-- <div class="invalid-feedback d-block" *ngIf="firstName.errors?.['pattern']">
                       Please enter the valid name
                    </div> -->
                <!-- </div> -->
            </div>
            </div>
<br>
            <div>
                <label for="lName">Last Name</label>&nbsp;
                <input type="text" name="lName" id="id2" formControlName="lastName">
                <div *ngIf="lastName.touched && lastName.invalid">
                    <div *ngIf="firstName.errors?.['required']">
                        lastName is required field
                    </div>
                </div>
            </div>
<br>
            <div>
                <label for="mobNo">Mobile No</label>&nbsp;
                <input type="text" name="mobNo" id="id3"  formControlName="mobileNo">
                <div *ngIf="mobileNo?.touched && mobileNo?.invalid">
                    <div  *ngIf="mobileNo?.errors?.['required']">
                        It is required field
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="mobileNo?.errors?.['minlength']">
                        Minimum 10 digits are required
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="mobileNo?.errors?.['maxlength']">
                        Maximum 10 digits are required
                    </div>
                </div>
            </div>
            
            <br>
            <div>
                <label for="email">Email</label> &nbsp;
                <input type="text" name="email" id="id4" formControlName="email">
                <div *ngIf="email?.touched && email?.invalid">
                    <div  *ngIf="email?.errors?.['required']">
                        email is required field
                    </div>

            </div>
            </div>
            <br>
            <div>
                <label for="cmpny">Company</label>&nbsp;
                <input type="text" name="cmpny" id="id5" formControlName="Company">
                <div *ngIf="Company?.touched && Company?.invalid">
                    <div  *ngIf="Company?.errors?.['required']">
                        Company is required field
                    </div>

            </div>
            </div>
<br>
            <div>
                <label >Gender:</label>
                <div >
                    <input type="radio" name="gender" id="Radio1"
                        value="male" formControlName="gender">
                    <label  for="Radio1">Male</label>
                </div>
                <div >
                    <input type="radio" name="gender" id="Radio2"
                        value="female" formControlName="gender">
                    <label for="Radio2">Female</label>
                </div>
            </div>
<br>
            
            <div>
                <label for="dob">DOB</label> &nbsp;
                <input type="date" name="dob" id="id6"  formControlName="DOB">
                <div *ngIf="DOB?.touched && DOB?.invalid">
                    <div *ngIf="DOB?.errors?.['required']">
                        It is required field
                    </div>

            </div>
            </div>
            <br>
            <div >
                <label for="pwd">Password</label>&nbsp;
                <input type="password" name="pwd" id="id7"  formControlName="Password">
                <div *ngIf="Password?.touched && Password?.invalid">
                    <div  *ngIf="Password?.errors?.['required']">
                        password is required field
                    </div>

            </div>
            </div>
<br>
            <div >
                <label for="cpwd">ConfirmPassword</label> &nbsp;
                <input type="password" name="cpwd" id="id8"  formControlName="confirmPassword">
                <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
                    <div *ngIf="confirmPassword?.errors?.['required']">
                        confirmPassword is required field
                    </div>

            </div><br>
            <!-- <div *ngIf="confirmPassword?.untouched && confirmPassword?.invalid">
                <div class="invalid-feedback d-block" *ngIf="confirmPassword?.errors?.['required']">
                    It is required field
                </div> -->

        <!-- </div> -->


        </div>
<br>
        <div>
            <button type="submit" (click)="submit()"  [disabled]="userForm.invalid">Register</button>
            <button type="submit" (click)="reset()">Cancel</button>

        </div>
    <!-- </form> -->
<!-- </div> -->



        <!-- <button type="submit" class="btn btn-primary" >Submit</button>&nbsp; -->
        
        

        <!-- <button type="button" class="btn btn-primary" (click)="navigate()">get userlist</button> -->
        
            
      </form>

      <table class=" table table-dark">
        <thead>
            <tr>
                <th> Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile N0</th>
                <th>Email</th>
                <th>Company</th>
                <th>DOB</th>
                <th>Edit</th>
                <th>Delet</th>
    
                
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary" *ngFor="let item of userlist;let i=index">
                <td scope="row">{{i+1}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.mobileNo}}</td>
                <td>{{item.email}}</td>
                <td>{{item.Company}}</td>
                <td>{{item.DOB}}</td>
                <!-- <td><a class="ms-2" [routerLink]="['/userdetail',item.id]">Edit</a>&nbsp;<a class="ms-2" (click)="delet(i)">Delete</a></td> -->
                <td><button [routerLink]="['/userdetail',item.id]">Edit</button></td>
                <td><button (click)="delet(i)">delet</button></td>
                
              </tr>
        </tbody>
    </table>

